*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Girassol', cursive;
    width: 100vw;
    min-height: 100vh;
    background-color: #121212;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7)
}

.nav-bar {
    font-size: 20px;
    background-image: linear-gradient(to right top, #051937, #3d2f5e, #7b437c, #bf568e, #ff6f91);
    padding-bottom: 10px;
}

.main-bar {
    list-style-type: none;
    display: none;
}

.main-bar li {
    text-align: center;
    margin: 10px auto;
}

.logo {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toogle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

.messages {
    /* overflow: auto; */
    padding: 1rem .9rem;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: left;
    font-family: 'Courgette', cursive;
    font-size: medium;
}

.bubble {
    overflow: hidden;
    display: inline-block;
    margin: 0 0 .125rem 0;
    padding: .5rem .85rem;
    line-height: 1.25rem;
    border-radius: 1.25rem;
    transform-origin: 0 100%;
    vertical-align: middle;
    transition: border-radius .25s ease-out .075s;
}

.bubble.left.cornered {
    border-bottom-left-radius: 0;
}

.bubble.left {
    background: #FF6F91;
}

.bubble:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -.5rem;
    width: .5rem;
    height: .5rem;
    background-size: .5rem .5rem;
    background-position: .5rem 0;
    background-repeat: no-repeat;
    transition: background-position .15s ease-in;
}

.bubble.cornered:after {
    background-position: 0 0;
}

.bubble span {
    display: block;
}

.bubble span.message {
    opacity: 0;
}

.bubble a {
    color: #0076FF;
}

.bubble .loading {
    position: absolute;
    width: 2.25rem;
    font-size: 1rem;
    line-height: 1rem;
}

.bubble .loading b {
    display: inline-block;
    color: rgba(0, 0, 0, .5);
}
